head
  // Technical
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  // Meta
  title Delete.live tokens
  meta(name='description' content='Website that deletes social network content')
  meta(name='author' content='backmeupplz')
  // Bootstrap
  link(rel='stylesheet' href='https://bootswatch.com/4/darkly/bootstrap.min.css')
  // Custom styles
  link(rel='stylesheet' href='style.css')
  // Vue.js
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')