doctype html
include head.pug
body
  .container
    h1 Delete.Live tokens
    .alert.alert-info(role='alert')
      strong Warning!
      | This website is under construction
    p 
      | Unfortunately, there is no way around OAuth 2.0 to generate tokens on 
      a(href='https://delete.live') delete.live
      |  without hosting this small website on a separate dedicated machine. You can generate your access tokens for Facebook, Twitter and VK.
    p
      |Please, only use these tokens on 
      a(href='https://delete.live') delete.live
      |  and nowhere else! It's literally a 
      code security risk
      | ! After you get the token, copy it, paste to 
      a(href='https://delete.live') delete.live
      | , use it and erase! Never share it with anybody!
    p Please, click a button below and login to a social network. The access token will be shown after successful login. Cheers!
    .text-right
      | Made by 
      a(href='https://t.me/borodutch') @borodutch
